
*{
    margin:0px;padding:0px;
    font-family: 'Noto Sans JP', sans-serif;
}
body{
  background-color: #F875A3;
    width:100vw;
    height:100vh;
}
.title{
  font-size:24px;
  color: #ffffff;
}
.texts{
  color: #ff0000;
}
