
*{
    margin:0px;padding:0px;
    font-family: 'Noto Sans JP', sans-serif;
}
body{
  background-color: cyan;
    width:100vw;
    height:100vh;
}
.title{
  font-size:24px;
  color: red;
}
.texts{
  background-color: red;
  color: cyan;
}
